page-find {
    .main-content{
        height:100%;
        text-align: center;
        .back{
            text-align: left;
        }
        .title{
            color:#fff;
            font-size: 24px;
            margin-top:20px;
            border-bottom: 1px solid #fff;
            font-weight: bold;
        }
        .name{
            text-align: center;
            font-size: 36px;
            font-weight: bold;
            color:#fff;
        }
    }

}
